# Archivos y carpetas ignorados comunes para proyectos web/React

# Dependencias
/node_modules

# Logs y Archivos Temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store # Archivos de metadatos de Mac

# Archivos de configuración y claves (¡CRÍTICO para la seguridad!)
.env
.env.local
.firebase/
firebase-debug.log

# Salidas de compilación (build)
/build
/dist
/out